<!DOCTYPE html>
<html>
<head>
    <title>SONA - Gun Violence News Framing</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/common.css') }}">

    <script src="{{ url_for('static',filename='js/sona_task.js') }}"></script>
</head>
<body>
    <div class="vertical-filler-2-5"></div>
    <div class="row vertical-filler-2-5">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">Gun Violence News Emotion Detection</h2>
        </div>
    </div>

    <form action="/sona/survey/submit" method="post">
        <div class="row" id="survey">
        </div>
    </form>
</body>

<script type="text/javascript">
    var data = JSON.parse('{{ data | tojson | safe }}');
    loadSurvey(data)
</script>
</html>