<!DOCTYPE html>
<html>
<head>
    <title>SONA - Gun Violence News Framing</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/common.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <script src="{{ url_for('static',filename='js/sona_informed_consent.js') }}"></script>

</head>
<body>
    <div class="vertical-filler-2-5"></div>
    <div class="row">
        {{error|safe}}
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">Consent Form</h2>
            <p>
                Please read this form carefully. The purpose of this form is to provide you with important information about taking part in a research study. If you have any questions about the research or any portion of this form, please ask me.
            </p>
            <p>
                The survey is conducted by the <b>Artificial Intelligence and Emerging Media (AIEM)</b> research group at Boston University. The person in charge of this study is <b>Sejin Paik</b>, a PhD student at BU’s College of Communication. Participation in this research is voluntary. If you choose to participate now, you may change your mind and stop participating later.
            </p>
            <p>
                The purpose of this study is to understand <b>how people feel when they come across certain news headlines and images</b>. We are asking you to take part in this study because you are <b>18 years or older and are fluent in English</b>. If you decide to take part in the study, you will be asked to <b>answer questionnaires relating to news content.</b>
            </p>
            <p>
                This survey will take approximately 2 hours in total and it will consist of four sessions (each ~30 minutes). You may choose to do all four sessions at once or do the four sessions at separate times.
            </p>
            <b>Note:</b>
            <ul>
                <li>For each session, you must complete them in one setting or your work will be lost. </li>
                <li>You will only gain 2 course credits through SONA, after completing all four sessions. We do not offer partial credits.</li>
            </ul>
            <p>
                The main risk of allowing us to use and store your information for research is a potential loss of confidentiality. We will protect your privacy by not asking any <b>personal identification information, using only ID numbers to assign your results and by storing the collected information in a password-protected computer.</b>
            </p>
            <p>
                Only I and certain BU offices in charge of monitoring human subjects research for safety and internal auditing purposes will have access to identifiable information. These offices include BU Central Offices and the BU Institutional Review Board (BU IRB). If you have any questions or concerns about your rights as a research participant, please contact the BU IRB at <a href="mailto:irb@bu.edu">irb@bu.edu</a>.
            </p>
            <p class="margin-bottom-0">
                If you have any questions about the study, please contact me or my faculty advisor at the contact information listed below:
            </p>
            <ul>
                <li><b>PI: Sejin Paik, <a href="mailto:sejin@bu.edu">sejin@bu.edu</a></b></li>
                <li><b>Faculty advisor: Dr. Lei Guo, <a href="mailto:guolei@bu.edu">guolei@bu.edu</a></b></li>
                <li><b>Contact Hours: Mon-Fri., 8am-6pm</b></li>
            </ul>
            <h4>Statement of Consent</h4>
            <form action="/sona/consent">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="consentCheck" name="consentAgreed" onclick="processConsentChecked()">
                    <label class="form-check-label" for="consentCheck">
                        I have read the information in this consent form including risks and possible benefits. I have been given the chance to ask questions. My questions have been answered to my satisfaction, and I agree to participate in the study.
                    </label>
                </div>
                <div class="col-md-2 col-lg-2 offset-md-5 offset-lg-5 margin-top-1-rem">
                    <button type="submit" class="btn btn-primary" formmethod="post" id="submitBtn" disabled>Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>