
.zero-margin-padding {
    margin: 0;
    padding: 0;
}

.form-label-padding {
    padding: 5px;
}

.form-group-margin {
    margin: 10px 0px;
}

.vertical-filler {
    margin-bottom: 20%;
}

.vertical-filler-10 {
    margin-bottom: 10%;
}

.vertical-filler-5 {
    margin-bottom: 10%;
}

.vertical-filler-2-5 {
    margin-bottom: 2.5%;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-top-1-rem {
    margin-top: 1rem;
}

.example-form {
    padding: 1rem;
    background-color: #f0ffff;
}